body, html {
    padding: 0;
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    background-color: green;
    color: lightyellow;
}

.nav-wrapper {
    background-color: lawngreen;
    color: lightpink;
    font-family: 'Artifika', serif;